* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 997px;
  height: 500px;
  border-bottom: 15px solid #23a023;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  right: -80px;
  animation: pipe-animation 2.0s infinite linear;
}

.cat {
  position: absolute;
  width: 60px;
  bottom: 0;
}

.jump {
  animation: jump-animation 500ms;
}

.clouds {
  position: absolute;
  width: 550px;
  animation: clouds-animation 20s infinite linear;
}
.back-ground {
  position: absolute;
  width: 500px;
  background-image: url("images/fundo.jpg");
  background-size: cover;
  animation: back-ground-animation 10s infinite linear;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump-animation {
  0% {
    bottom: 0px;
  }

  40% {
    bottom: 180px;
  }
  
  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }
  
  100% {
    bottom: 0px;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}

@keyframes back-ground-animation {
  from{
    right: -500px;
  }
  to{
    right: 100%;
  }
}